<h2>Curso Info</h2>
<hr />

<form #courseForm="ngForm" *ngIf="course">
    <div class='form-group row'>
        <label class='col-sm-2 col-form-label'>Name</label>
        <div class="col-sm-10">
            <input [(ngModel)]="course.name" name="name" required #courseName="ngModel" [ngClass]="{'is-invalid' : courseName.invalid}" class="form-control" />
            <div class="invalid-feedback">
                <span>Course name is required</span>
            </div>
        </div>
    </div>
    <div class='form-group row'>
        <label class='col-sm-2 col-form-label'>Price</label>
        <div class="col-sm-10">
            <input [(ngModel)]="course.price" name="price" type="number"  required #coursePrice="ngModel" [ngClass]="{'is-invalid' : coursePrice.invalid}" class="form-control" />
            <div class="invalid-feedback">
                <span>Course price is required</span>
            </div>
        </div>
    </div>
    <div class='form-group row'>
        <label class='col-sm-2 col-form-label'>Rating</label>
        <div class="col-sm-10">
            <input [(ngModel)]="course.rating" name="rating" type="number"  required #courseRating="ngModel" [ngClass]="{'is-invalid' : courseRating.invalid}" class="form-control" />
            <div class="invalid-feedback">
                <span>Course rating is required</span>
            </div>
        </div>
    </div>
    <div class='form-group row'>
        <label class='col-sm-2 col-form-label'>Description</label>
        <div class="col-sm-10">
            <textarea [(ngModel)]="course.description" name="description"  required #courseDescription="ngModel" [ngClass]="{'is-invalid' : courseDescription.invalid}" class="form-control" >
            </textarea>
            <div class="invalid-feedback">
                <span>Course rating is required</span>
            </div>
        </div>
    </div>

    <button [disabled]="courseForm.invalid" class="btn btn-primary me-2"  (click)="save()">Save</button>
    <button [routerLink]="['/courses']" class="btn btn-secondary">Back</button>

</form>